%h1 Listing questions

%table
  %tr
    %th Name
    %th Vote type
    %th Flag
    %th
    %th
    %th

  - @questions.each do |question|
    %tr
      %td= question.name
      %td= question.vote_type
      %td= question.flag
      /%td= link_to 'Show', group_question_path(@group)
      /%td= link_to 'Edit', edit_question_path(question)
      /%td= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' }

%br

/= link_to 'New Question', new_group_question_path(@group)
