- content_for :head do
  %script#microloader{:src => "sdk/microloader/development.js", :type => "text/javascript"}

%h3 Vote-It Home
/ - @users.each do |user|
/   %p
/     User: #{link_to user.name, user}
